.contato-section {
  max-width: 60%;
  height: auto;
  min-height: 560px;
  margin: 2rem auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3rem;
  margin-top: 96px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
    color: #8c7db1;
    text-decoration: none;
}

label {
    margin-left: 4px;
    display: flex;
    align-items: left;
}

.contato-section h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contato-section .canal {
    margin-bottom: 1.5rem;
}

.newsletter-box {
    background: #f3e6fa;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

.btn-purple {
    background-color: #8c7db1;
    color: #fff;
}

.btn-purple:hover {
    background-color: #B5A3E0;
    color: #fff;
}

@media(max-width: 767px){
    .contato-section {
        max-width: 100%;
        border-radius: 0;
        margin: 0 auto;
        margin-top: 4rem;
    }
}